p {
	color : black;
}


footer {
	
    	text-decoration: overline;
   	position: fixed;
    	bottom: 0;
	width:100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background: black;
	border-top: 2px solid grey;
	color: grey;
	position:absolute;
	padding-top:50px;
	height:1px
}
