
body {
    background-color: lightblue;
}

h1 {
	style : bold;
   	color: purple;
   	text-align: center;
}

p{
	color : black;
	
}


footer {
	
    text-decoration: overline;
    position: fixed;
    bottom: 0;
	width:100%;
	  margin-left: auto;
	  margin-right: auto;
	  text-align: center;
	  background: #2ab0e0;
	  border-top: 2px solid grey;
	  color: grey;
	  position:absolute;
	  padding-top:50px;
	  height:1px
}
