body > .container{
	padding-top: 60px;
}

p {
	color : black;
}

/*--footer--*/
footer {
    	position: absolute;
    	bottom: 0;
	width:100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background: black;
	border-top: 2px solid grey;
	color: white;
	position:absolute;
	padding-top:10px;
	height:50px
}
